<ion-header>
  <ion-toolbar>
    <ion-title>A Viagem de Chihiro</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


      <ion-item class="card video-shadow">
        <div class="video-container">
            <iframe src="https://youtu.be/Kdh3SLud6NY" frameborder="0" width="560" height="315"></iframe>
        </div>
    </ion-item>


</ion-content>
